@use '@angular/material' as mat;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--mat-sys-surface);
  padding: 20px;

  .login-card {
    width: 100%;
    max-width: 400px;
    margin: 20px;

    .login-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      a {
        text-decoration: none;
        color: var(--mat-sys-primary);
      }
    }
  }
}

#loginErrorContainer {
  text-align: center;
  background-color: rgba($color: red, $alpha: 0.5);
  height: fit-content;
}