@use '@angular/material' as mat;


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--mat-sys-surface);
    padding: 20px;
  
    .login-card {
      width: 100%;
      max-width: 400px;
      margin: 20px;
  
      .login-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
  
        a {
          text-decoration: none;
          color: var(--mat-sys-primary);
        }
      }
    }
  }
  
  .success-snack {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
  
  .error-snack {
    background-color: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
  }

  #loginErrorContainer{
    text-align: center;
    background-color: rgba($color: red, $alpha: 0.5);
    height: fit-content;
  }


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: orange,
  ));
}