<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-icon-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div>HordeShare</div>
      <nav>
        <ul>
          <a mat-fab extended routerLink="/home" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            Home
          </a>
          <a mat-fab extended routerLink="/torrents" routerLinkActive="active">
            <mat-icon>cloud_download</mat-icon>
            Torrents
          </a>
          <a mat-fab extended routerLink="/hitnrun" routerLinkActive="active">
            <mat-icon>speed</mat-icon>
            Hit'n'Run
          </a>
          @if (isLoggedIn) {
            <a mat-fab extended routerLink="/profile" routerLinkActive="active">
              <mat-icon>person</mat-icon>
              Profile
            </a>
          }
          
          @if (!isLoggedIn) {
            <a mat-fab extended routerLink="/login" routerLinkActive="active">
              <mat-icon>login</mat-icon>
              Login
            </a>
            <a mat-fab extended routerLink="/signup" routerLinkActive="active">
              <mat-icon>person_add</mat-icon>
              Sign Up
            </a>
          }
          
          @if (isLoggedIn) {
            <a mat-fab extended (click)="$event.preventDefault(); logout()">
              <mat-icon>logout</mat-icon>
              Logout
            </a>
          }
        </ul>
      </nav>
    </mat-toolbar>
    @if (isLoggedIn) {
      <app-header></app-header>
    }
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>